@model BlackYellow.MVC.Domain.Entites.Customer

@{

    ViewBag.Title = "Novo usuário";

}
<div class="container">
    <div class="row">

        @using (Html.BeginForm(actionName: "Register", controllerName: "Account", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {

        <div id="customer_details" class="col2-set">
            <div class="col-1">
                <div class="woocommerce-billing-fields">
                    <h3>Dados do Usuário</h3>
                    <p id="country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                        <label class="" for="country">
                            Pais <abbr title="required" class="required">*</abbr>
                        </label>
                        <select class="country_to_state country_select" id="country" name="country">
                            <option value="">Selecione o país…</option>
                            <option value="BR">Brasil</option>
                        </select>
                    </p>
                    <p id="first_name_field" class="form-row form-row-first validate-required">
                        @Html.LabelFor(fn => fn.FirstName, "Nome")
                        @Html.EditorFor(fn => fn.FirstName, new { @class = "input-text" })
                    </p>
                    <p id="last_name_field" class="form-row form-row-last validate-required">
                        @Html.LabelFor(fn => fn.LastName, "Sobrenome")
                        @Html.EditorFor(fn => fn.LastName, new { @class = "input-text" })
                    </p>

                    <p id="cpf_field" class="form-row form-row-last validate-required">
                        @Html.LabelFor(fn => fn.Cpf, "CPF")
                        @Html.EditorFor(fn => fn.Cpf, new { @class = "input-text" })
                    </p>

                    <p id="cpf_field" class="form-row form-row-last validate-required">
                        @Html.LabelFor(fn => fn.Birthday, "Nascimento")
                        @Html.TextBoxFor(fn => fn.Birthday, new { @class = "input-text datepicker" })
                    </p>


                    <div class="clear"></div>

                    <!-- #region Adress -->
                    <p id="address_1_field" class="form-row form-row-wide address-field validate-required">
                        @Html.LabelFor(fn => fn.Address.Street, "Rua")
                        @Html.EditorFor(fn => fn.Address.Street, new { @class = "input-text" })
                    </p>
                    <p id="address_2_field" class="form-row form-row-wide address-field">
                        @Html.EditorFor(fn => fn.Address.Street2, new { @class = "input-text", placeholder = "Apartamento, Andar, etc... (opcional)" })
                    </p>
                    <p id="city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                        @Html.LabelFor(fn => fn.Address.City, "Cidade")
                        @Html.EditorFor(fn => fn.Address.City, new { @class = "input-text" })
                    </p>
                    <p id="state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
                        @Html.LabelFor(fn => fn.Address.State, "Estado")
                        @Html.EditorFor(fn => fn.Address.State, new { @class = "input-text" })
                    </p>
                    <p id="postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                        @Html.LabelFor(fn => fn.Address.ZipCode, "CEP")
                        @Html.EditorFor(fn => fn.Address.ZipCode, new { @class = "input-text", placeholder = "CEP / Código Postal" })
                    </p>
                    <!-- #endregion -->



                    <div class="clear"></div>
                    <p id="email_field" class="form-row form-row-first validate-required validate-email">
                        @Html.LabelFor(fn => fn.User.Email, "E-mail")
                        @Html.EditorFor(fn => fn.User.Email, new { @class = "input-text", placeholder = "Endereço de E-mail" })
                    </p>
                    <p id="phone_field" class="form-row form-row-last validate-required validate-phone">
                        @Html.LabelFor(fn => fn.Phone, "Telefone")
                        @Html.EditorFor(fn => fn.Phone, new { @class = "input-text", placeholder = "Telefone para contato" })
</p>

                    <p id="account_password_field" class="form-row validate-required">
                        @Html.LabelFor(fn => fn.User.Password, "Senha")
                        @Html.PasswordFor(fn => fn.User.Password,  new { @class = "input-text", placeholder = ""})
                    </p>

                    <p>

                        <input type="submit" class="btn btn-default" value="Cadastrar" />
                        <input type="reset" class="btn btn-danger" value="Limpar" />

                    </p>

                    <div class="clear"></div>

                </div>
            </div>
        </div>

        }



    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $('datepicker').datepicker({
                format: "dd/MM/yyyy",
                language: "pt-BR",
                autoclose: true
            });

        });
    </script>
}
