@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var filters = ViewBag.Filters as BlackYellow.MVC.Models.OrderReportFilters;
}
@model List<BlackYellow.MVC.Domain.Entites.Order>

<h2>Relatório de Vendas</h2>



<div class="panel panel-default">
    <div class="panel-heading">

        <div class="form-inline" style="margin-top: 20px;">

            <div class="">
                <div class="form-inline form-group">
                    <label for="dataInicial">Data Inicial</label>
                    <input id="dataInicial" name="InitDate" class="form-control datepicker" value="@(filters?.InitDate?.ToString("D"))" />
                </div>

                <div class="form-group form-inline">
                    <label for="dataFinal">Data Final</label>
                    <input id="dataFinal" name="EndDate" class="form-control datepicker" value="@(filters?.EndDate?.ToString("D"))" />
                </div>
            </div>

            <ul style="list-style-type: none;">
                @foreach (var item in Enum.GetValues(typeof(BlackYellow.MVC.Models.OrderReportFilters.eStatusOrder)).OfType<BlackYellow.MVC.Models.OrderReportFilters.eStatusOrder>())
            {
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" name="Status" value="true" checked="@(filters?.Status?.Contains(item))" />
                            @BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(item)
                        </label>
                    </li>
                }
            </ul>





            <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>

    </div>
    <div class="panel-body">
        <table class="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Valor Total</th>
                    <th>Qtd Itens</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {

                        <tr>

                            <td>@item.OrderId</td>
                            <td>@BlackYellow.MVC.Helpers.Extensions.EnumExtensions.GetEnumDescription(item.Status)</td>
                            <td>@item.OrderDate.ToString("d")</td>
                            <td>@item.Customer.FullName</td>
                            <td>@item.TotalOrder.ToString("N2")</td>
                            <td>@item.Itens.Count</td>

                        </tr>


                    }
                }
            </tbody>
        </table>
    </div>
</div>
